<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Moth</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css" integrity="sha384-ZlNfXjxAqKFWCwMwQFGhmMh3i89dWDnaFU2/VZg9CvsMGA7hXHQsPIqS+JIAmgEq" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue2-animate/dist/vue2-animate.min.css"/>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<div id="app" v-cloak>
    <v-app id="inspire">
        <v-layout justify-center>
            <v-flex xs12 sm8>
                <v-card>
                    <v-container fluid grid-list-md>
                        <v-layout row wrap>
                            <v-flex 12>
                                <v-card>
                                    <v-speed-dial
                                            absolute
                                            v-model="fab"
                                            top
                                            right
                                            direction="left"
                                            open-on-hover
                                    >
                                        <v-btn
                                                slot="activator"
                                                v-model="fab"
                                                color="blue darken-2"
                                                dark
                                                fab
                                        >
                                            <v-icon>info</v-icon>
                                            <v-icon>close</v-icon>
                                        </v-btn>
                                        <!--<v-btn
                                                fab
                                                dark
                                                small
                                                color="blue lighten-3"
                                                v-bind:class="{ 'delayOff' : !delayActive }"
                                                @click="delayActive=!delayActive"
                                        >
                                            <v-icon>fa-hourglass</v-icon>
                                        </v-btn>-->
                                        <v-btn
                                                fab
                                                dark
                                                small
                                                color="green"
                                                @click="dialog = true"
                                        >
                                            <v-icon>build</v-icon>
                                        </v-btn>
                                        <v-btn
                                                fab
                                                dark
                                                small
                                                color="indigo"
                                                @click="dialog3 = true"
                                        >
                                            <v-icon>help</v-icon>
                                        </v-btn>

                                        <v-btn
                                                fab
                                                dark
                                                small
                                                color="red"
                                                @click="dialog2 = true"
                                        >
                                            <v-icon>list</v-icon>
                                        </v-btn>
                                    </v-speed-dial>
                                    <v-img
                                            :src="headerImage"
                                            @click="headerImageNumber++"
                                    >

                                    </v-img>

                                </v-card>
                            </v-flex>

                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-card id="picker" :hover="!poolIsEmpty" height="360px">
                                    <v-img
                                            :src="current.image" lazy-src="images/sm/init_sm.jpg"
                                            height="300px"
                                            contain
                                            v-on:click="pick"
                                    ></v-img>
                                    <v-card-title>
                                        <div class="center">

                                            <h2 class="headline mb-0" :key="current.name">{{current.name}}</h2>
                                    </v-card-title>
</div>
                                </v-card>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-card height="360px">
                                    <v-toolbar dense>
                                        <v-btn v-on:click="pick"
                                               v-bind:disabled="poolIsEmpty"
                                               icon
                                               flat>
                                            <i v-bind:class="{ 'fa-pulse': isActive }" class="v-icon fa-dice fas"></i>
                                        </v-btn>

                                        <v-spacer></v-spacer>
                                        <v-select
                                            :items="classes"
                                            v-model="currentSection"
                                            menu-props="auto"
                                            hide-details
                                            flat
                                            single-line
                                    ></v-select>
                                        <v-spacer></v-spacer>
                                        <v-toolbar-items class="hidden-md-and-up">
                                            <v-btn  v-bind:disabled="pickedIsEmpty"  color="error" v-on:click="clear" icon><v-icon>clear</v-icon></v-btn>
                                        </v-toolbar-items>
                                        <v-toolbar-items class="hidden-sm-and-down">
                                            <v-btn  v-bind:disabled="pickedIsEmpty"  color="error" v-on:click="clear">Clear List</v-btn>
                                        </v-toolbar-items>
                                    </v-toolbar>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>

                                    </v-card-actions>
                                    <v-list style="max-height: 250px; overflow-y: scroll;">
                                        <transition-group name="slideLeft" tag="div" class="test">
                                        <v-list-tile
                                                v-for="item in picked"
                                                :key="item.name"
                                                avatar
                                                @click=""
                                        >
                                            <v-list-tile-content>
                                                <v-list-tile-title v-text="item.name"></v-list-tile-title>
                                            </v-list-tile-content>
                                            <v-list-tile-avatar>
                                                <img :src="item.image">
                                            </v-list-tile-avatar>
                                        </v-list-tile>
                                        </transition-group>
                                    </v-list>

                                </v-card>
                            </v-flex>

                        </v-layout>
                    </v-container>
                </v-card>
                <v-footer class="pa-3">
                    <v-spacer></v-spacer>
                    <div>&copy; {{ new Date().getFullYear() }} Modified by Shields.</div>
                </v-footer>
            </v-flex>
        </v-layout>

        <v-dialog v-model="dialog" width="500">
            <v-card>
                <v-card-title
                        class="headline grey lighten-2"
                        primary-title
                >
                    <v-img
                            src="images/sm/mothrandomizer-comic.png"
                            contain
                    >
                </v-card-title>

                <v-card-text>
                    <p>Select students for participation using the modern version of the <a href="https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle">Fisher-Yates shuffle</a> which is will select an unbiased sample.</p>
                    <v-divider></v-divider>
                    <v-container fluid grid-list-lg>
                        <v-layout
                                row
                                wrap
                        >
                            <v-flex xs9>
                                <v-slider
                                        v-model="pickDelay"
                                        :max="3000"
                                        :min="200"
                                        step="500"
                                        ticks="always"
                                        tick-size="2"
                                        thumb-label  prepend-icon="fa-hourglass"
                                ></v-slider>
                            </v-flex>

                            <v-flex xs3>
                                <div class="text-xs-center">
                                    <v-chip>{{pickDelay}} ms</v-chip>
                                </div>
                            </v-flex>

                            <v-flex xs12>
                                <v-select
                                        :items="classes"
                                        v-model="currentSection"
                                        menu-props="auto"
                                        persistent-hint
                                        label="Pick Class"
                                        hint="Pick Class"
                                        hide-details
                                        prepend-icon="fa-graduation-cap"
                                        single-line
                                ></v-select>
                            </v-flex>
                            <v-flex xs12>
                                <v-select
                                        :items="headerImages"
                                        v-model="headerImage"
                                        item-text="name"
                                        item-value="value"
                                        menu-props="auto"
                                        hide-details
                                        flat
                                        prepend-icon="fa-image"
                                        single-line
                                ></v-select>
                            </v-flex>
                        </v-layout>
                    </v-container>


                    <v-btn
                            v-bind:disabled="pickedIsEmpty"  color="error" v-on:click="clear"
                    >
                        Clear List
                        <v-icon right dark>list</v-icon>
                    </v-btn>

                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            color="primary"
                            flat
                            @click="dialog = false"
                    >
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog2" width="500">
            <v-card>
                <v-toolbar>
                    <v-spacer></v-spacer>
                    <v-btn v-on:click="shuffle">Shuffle</v-btn>
                    <v-select
                            :items="sampleSelector"
                            v-model="sampleSize"
                            menu-props="auto"
                            hide-details
                            flat
                            single-line
                            prepend-icon="fa-list-ol"
                    ></v-select>
                    <v-select
                            :items="classes"
                            v-model="currentSection"
                            menu-props="auto"
                            hide-details
                            flat
                            single-line
                            prepend-icon="fa-graduation-cap"
                    ></v-select>
                    <v-spacer></v-spacer>
                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn  color="error" v-on:click="sampleSize='0'">Clear List</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-card-actions>
                    <v-spacer></v-spacer>
                </v-card-actions>

                <v-list>
                    <transition-group name="flip-list" tag="div">

                    <v-list-tile
                            v-for="item in sample"
                            :key="item.name"
                            avatar
                            @click=""
                    >
                        <v-list-tile-content>
                            <v-list-tile-title v-html="item.name"></v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <img :src="item.image">
                        </v-list-tile-avatar>
                    </v-list-tile>
                    </transition-group>
                </v-list>

            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog3" width="500">
            <v-card>
                <v-card-title
                        class="headline grey lighten-2"
                        @click=""
                >
                    <v-img
                            src="images/sm/mothrandomizer-comic.png"
                            contain
                    >
                </v-card-title>

                <v-card-text>
                    <p>Select students for participation using the modern version of the <a href="https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle">Fisher-Yates shuffle</a> which is will select an unbiased sample.</p>
                    <div class="display-2">Help coming soon.</div>
                    <v-divider></v-divider>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            color="primary"
                            flat
                            @click="dialog3 = false"
                    >
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar
                v-model="snackbar"
                top
        >
            All participants have been picked please reset list to pick more.
            <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>

    </v-app>

</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.js'></script>



<script  src="js/index.js"></script>

</body>

</html>
